.App {
  text-align: center;
}

.board {
  border: 12px solid gray;
  background:gray;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 12px;
}

.squares {
  border: none;
  font-size: 5rem;
  /* font-weight: 800; */
  cursor: pointer;
  outline: none;
}

.X {
  color: blue;
}
.O {
  color: lightskyblue;
}