.App {
  text-align: center;
}

.board {
  border: 12px solid #2196f3;
  background:#2196f3;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 12px;
}

.squares {
  border: none;
  font-size: 5rem;
  /* font-weight: 800; */
  cursor: pointer;
  outline: none;
}

.X {
  color: #5e35b1;
}
.O {
  color: #26c6da;
}

.game {
  display:flex;
  justify-content: center
}